body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
}
.content {
  background-color: #eceef6;
  border-radius: 20px;
  margin: 5px 20px;
  padding: 1px 20px;
  box-sizing: border-box;
  height: 75vh;
}
.top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo .blue {
  color: #1e90ff;
  font-weight: bold;
}
.logo .black {
  color: black;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 427px;
  height: 64px;
  border-radius: 20px;
  display: flex;
  background-color: #eceef6;
  margin-left: 130px;
}
.menu a {
  text-decoration: none;
  color: #333;
  display: inline-flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.current {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}
.subs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #daf8d3;
  height: 90px;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 10px;
}
.trial {
  display: flex;
  gap: 20px;
  align-items: center;
}
.left {
  width: 166px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
}
.buy {
  padding-right: 20px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 151px;
  height: 50px;
  border: none;
  background-color: #007aff;
  color: #fff;
  border-radius: 10px;
}
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-bar {
  background: #eef2fa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 465px;
  height: 64px;
  border-radius: 20px;
  margin-top: 20px;
}

.bottom-nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #444;
  font-size: 0.9rem;
  line-height: 1;
}

.bottom-nav a img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
}

.bottom-nav a.active img {
  filter: brightness(0) saturate(100%) invert(35%) sepia(99%) saturate(1612%)
    hue-rotate(194deg) brightness(98%) contrast(106%);
}
.head {
  display: flex;
  align-items: center;
  gap: 10px;
}
.short-text {
  display: none;
}
@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
  }

  .top-bar {
    margin: 10px;
    background-color: #eceef6;
    border-radius: 10px;
    padding: 4px;
  }
  .logo p {
    display: none;
  }

  .menu {
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: none;
    margin: 0;
    gap: 40px;
  }
  .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu a {
    margin: 0;
    padding: 0;
  }

  .settings-container {
    flex-direction: column;
    gap: 1rem;
  }

  .bottom-nav {
    display: flex;
  }
  .bottom-bar {
    width: 100%;
    margin: 0 10px;
    border-radius: 10px;
  }
  .content {
    height: 79vh;
    margin: 12px;
    padding: 12px;
  }
  .current {
    height: 30vh;
  }
  .days {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 70%;
  }
  .trial {
    gap: 60px;
  }
  .buy {
    width: 100%;
  }

  .buy button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .full-text {
    display: none;
  }
  .short-text {
    display: inline;
  }
  .left {
    width: 111px;
  }
}
